#action-label {
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	outline: none;
}
button.opener {
	background-color: #282A36;
	color: #eee;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	transition: 0.4s;
}
button.openerChild {
	background-color: #373a49;
	color: #eee;
	cursor: pointer;
	padding: 6px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 12px;
	transition: background-color 0.25s;
}

button.openerChild.active, button.openerChild:hover {
	background-color: rgb(66, 67, 85);
}

button.opener:after {
	content: '+';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.openerChild:after {
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.opener.active:after {
	content: "-";
}

div.dropContent {
	background-color: #282a36;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.ui.dropdown {
	text-align: center;
	width: 200px;
}

input[type=text] {
	width: 90%;
}

.action-input {
	margin: 0 auto;
	padding-top: 6px;
	max-width: 640px;
	width: 94%;
	height: 80%;
}

.action-input h1 {
	margin-top: 0;
}

#theHead {
	right: 0;
	top: 0;
	left: 0;
	background-color: #20212b;
	text-align: center;
}

.action-footer {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #20212b;
	text-align: center;
}

#leSideBarContent {
	margin-right: 10px;
	width: 220px;
}

#leSideBar {
	width: 232px;
	margin: 10px;
}

#leSideBar::-webkit-scrollbar {
	width: 12px;
	background-color: #242629;
}

#leSideBar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #282a36;
}

#leSideBar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #282a36;
	border-width: 1px;
    border-style: solid;
    border-color: #94527e;
	padding: 1px
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
	background-color: transparent;
	transform: scale(0.7, 0.7);
}

input::-webkit-calendar-picker-indicator:hover {
	background-color: transparent;
}

input#searchfilter {
	border-radius: 4px;
	padding-left: 4px;
	width: 94%;
	height: 22px;
	border: 1px solid #94527e;
}